.footer {
  padding: 3.2rem 0;
  border-top: 1px solid #eee;
}

.footer-container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.footer-grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.footer-logo-column {
  display: flex;
  flex-direction: column;
}

.footer-logo-links {
  display: flex;
  gap: 6.4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 1.6rem;

  height: 3.6rem;
}

.footer-copyright {
  font-size: 1.8rem;
}

.footer-social-links {
  list-style: none;

  display: flex;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #d24347;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #932f32;
}

.footer-link:link i {
  font-size: 3.6rem;
}

.footer-contacts {
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-contact {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1.8rem 1fr;
  align-items: start;
  justify-items: start;
}

.footer-contact i {
  margin-top: 0.4rem;
  font-size: 2rem;
  color: #767676;
}

.footer-contact-links {
  display: flex;
  gap: 3.2rem;
}

.footer-author-text,
.footer-author-text .footer-link:link,
.footer-author-text .footer-link:visited {
  font-size: 1.4rem;
  padding-bottom: 1.2rem;
  line-height: 1.6;
}

/*****************/
/* MEDIA QUERIES */
/*****************/
/* 1rem = 1em = 16px */

/***********************************/
/* BELOW 944 px (Portrait tablets) */
/***********************************/
@media (max-width: 59em) {
  .footer-contact-links {
    flex-direction: column;
    gap: 1.2rem;
  }
}

/*********************************/
/* BELOW 704px (Smaller tablets) */
/*********************************/
@media (max-width: 44em) {
  .footer-grid-2-cols {
    grid-template-columns: 1fr;
  }
}
