/**
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragrap default: 1.6
Large: 1.8

-Letter spacing
0.5px
0.75px

--- 02 COLORS

- Primary: #feb451
- Tints: #fecb85
- Shades: #e5a249

Secondary: #d24347
- Tints:
- Shades: #932f32

- Accents:
- Greys:
#767676 (lightest grey allowed on #fff)
#333
#1e1e20

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075)

--- 06 BORDER-RADIUS

Small: 3px
Default: 5px
Medium: 7px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* respecting user's browser font size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;

  /* only works if there is nothing absolutely
  positioned in relation to body */
  overflow-x: hidden;
}

.grid {
  display: grid;
  row-gap: 4.8rem;
  column-gap: 4.8rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -1px;
}

.heading-primary {
  font-size: 6.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  color: #932f32;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  line-height: 1.6;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 5px;

  /* only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* put transition on original state */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn-primary {
  background-color: #feb451;
  color: #4c3618;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #e5a249;
  color: #333;
}

.btn-square {
  padding: 1.4rem;
  min-width: 5.2rem;

  display: grid;
  justify-content: center;
  align-items: center;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #d24347;
  font-weight: 500;
  text-decoration: none;
  /* border-bottom: 1px solid currentColor; */
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #932f32;
  /* border-bottom: 1px solid transparent; */
}

/*****************/
/* MEDIA QUERIES */
/*****************/
/* 1rem = 1em = 16px */

/***********************/
/* BELOW 1600 px (HD+) */
/***********************/
@media (max-width: 100em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }
}

/*************************************/
/* BELOW 1200 px (Landscape tablets) */
/*************************************/
@media (max-width: 75em) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }
}
