.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* sticky */
  height: 9.6rem;
  padding: 0 12.8rem;
  position: relative;
  z-index: 1;
}

.logo {
  height: 6.4rem;
}

.main-nav {
  display: flex;
  gap: 4.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #feb451;
  font-weight: 600;
  font-size: 2.4rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cb9041;
}

.header-actions {
  display: flex;
  gap: 0;
}

.header-actions .main-nav-link {
  padding: 2.8rem 4.8rem;
  font-size: 3.6rem;
}

.header-actions .main-nav-link:hover,
.header-actions .main-nav-link:active {
  background-color: #cb9041;
  color: #333;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 9.6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 990;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.sticky .header-actions .main-nav-link:hover,
.sticky .header-actions .main-nav-link:active {
  color: #fff;
}
