.hidden {
  display: none;
}

body {
  position: relative;
}

/**********/
/* COMMON */
/**********/
.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2.4rem;
  font-size: 3.6rem;
  cursor: pointer;
  border: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close-modal:hover,
.close-modal:active {
  color: #e5a249;
  background: rgba(0, 0, 0, 0.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  z-index: 995;
}

.modal-content {
  max-width: 90vw;
  min-width: 50vw;
  min-height: 8rem;
  max-height: 95vh;
  overflow-y: auto;
}

.modal-img {
  width: 100%;
}

.modal-text {
  padding: 6rem;
}

.modal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2.4rem;
  line-height: 1.6;
}

.modal-description {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.modal-text .item-attributes {
  margin-bottom: 2rem;
}

.modal-nutritions {
  font-size: 2rem;
  line-height: 1.6;

  display: grid;
  grid-template-columns: 5.2rem 1fr;
  gap: 1.2rem;
}

.modal-nutritions .icon {
  font-size: 3.2rem;
  font-weight: 500;
  color: #feb451;
  justify-self: center;
}

.modal-nutritions-table {
  border-collapse: collapse;
  width: 100%;
}

.modal-nutritions-table th {
  font-weight: 400;
}

.modal-nutritions-table th,
.modal-nutritions-table td {
  padding: 0 1.2rem 0.8rem 1.2rem;
  text-align: right;
  vertical-align: top;
  line-height: 1.6;
}

.modal-nutritions-table thead th {
  width: 35%;
}

.modal-nutritions-table thead th:nth-child(2) {
  width: 30%;
}

/************/
/* CHECKOUT */
/************/
.modal-checkout-form {
  padding: 6rem;
}

.modal-checkout-section {
  padding: 0 0 6.4rem 0;
}

.modal-checkout-section:last-child {
  padding: 0;
}

.modal-checkout-section-title {
  margin-bottom: 3.2rem;
  font-size: 3rem;
  font-weight: 600;
}

.checkout-address {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.modal-checkout-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.modal-checkout-form label.mandatory {
  font-weight: 600;
}

.modal-checkout-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  border: 2px solid #feb451;
  /* border: none; */
  /* background-color: #fff; */
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.modal-checkout-form input:focus {
  outline: none !important;
}

.modal-checkout-form input::placeholder {
  color: #aaa;
}

.modal-checkout-entries-list {
  list-style: none;
  margin-bottom: 3.2rem;
  font-size: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.modal-checkout-entries-list-item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2.4rem;
}

.modal-checkout-item-img {
  width: 12rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 3px;
}

.modal-checkout-item-text {
  padding: 1.2rem 0;
  line-height: 2.4rem;
}

.modal-checkout-item-name {
  font-weight: 500;
}

.modal-checkout-item-price {
  padding: 1.2rem 0;
  font-weight: 500;
}

.modal-checkout-totals {
  font-size: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.2rem;
}

.modal-checkout-price-text {
  display: grid;
  grid-template-columns: auto 8rem;
  justify-items: end;
  gap: 2.4rem;
}

.modal-checkout-price-text.total {
  margin-top: 1.2rem;
  font-weight: 600;
}

.checkout-actions {
  display: flex;
  justify-content: center;
}

/*****************/
/* MEDIA QUERIES */
/*****************/
/* 1rem = 1em = 16px */

/************************************/
/* BELOW 1344 px (Smaller desktops) */
/************************************/
@media (max-width: 84em) {
  .modal-content {
    max-width: 90vw;
    min-width: 80vw;
  }
}

/*************************************/
/* BELOW 1200 px (Landscape tablets) */
/*************************************/
@media (max-width: 75em) {
  .modal-content {
    max-width: 90vw;
    min-width: 90vw;
  }
}

/***********************************/
/* BELOW 944 px (Portrait tablets) */
/***********************************/
@media (max-width: 59em) {
  .modal-content {
    max-width: 95vw;
    min-width: 90vw;
    max-height: 95vh;
  }

  .modal-text {
    padding: 4.8rem;
  }
}

/*********************************/
/* BELOW 704px (Smaller tablets) */
/*********************************/
@media (max-width: 44em) {
  .modal-body {
    border-radius: 0;
  }

  .modal-content {
    /* max-width: 100vw; */
    min-width: 100vw;
    /* max-height: 100vh; */
    min-height: 100vh;
  }

  .modal-text {
    padding: 3.2rem;
  }
}
