.hidden {
  display: none;
}

body {
  position: relative;
}

/**********/
/* COMMON */
/**********/
.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2.4rem;
  font-size: 3.6rem;
  cursor: pointer;
  border: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.close-modal:hover,
.close-modal:active {
  color: #e5a249;
  background: rgba(0, 0, 0, 0.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  z-index: 995;
}

.modal-content {
  max-width: 90vw;
  min-width: 50vw;
  min-height: 8rem;
  max-height: 95vh;
  overflow-y: auto;
}

.modal-img {
  width: 100%;
  display: block;
}

.modal-text {
  padding: 6rem;
}

.modal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2.4rem;
  line-height: 1.6;
}

.modal-description {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.modal-text .item-attributes {
  margin-bottom: 2rem;
}

.modal-nutritions {
  font-size: 2rem;
  line-height: 1.6;

  display: grid;
  grid-template-columns: 5.2rem 1fr;
  gap: 1.2rem;
}

.modal-nutritions .icon {
  font-size: 3.2rem;
  font-weight: 500;
  color: #feb451;
  justify-self: center;
}

.modal-nutritions-table {
  border-collapse: collapse;
  width: 100%;
}

.modal-nutritions-table th {
  font-weight: 400;
}

.modal-nutritions-table th,
.modal-nutritions-table td {
  padding: 0 1.2rem 0.8rem 1.2rem;
  text-align: right;
  vertical-align: top;
  line-height: 1.6;
}

.modal-nutritions-table thead th {
  width: 35%;
}

.modal-nutritions-table thead th:nth-child(2) {
  width: 30%;
}

.modal-section-grid {
  display: grid;
  grid-template-columns: 4.8rem auto;
  gap: 3.2rem;
}

.modal-section-icon {
  font-size: 3.6rem;
  color: #feb451;
  justify-self: center;
  background-color: #fff8ee;
  padding: 0.8rem;
  border-radius: 3px;
}

.modal-section-menu {
  /* color: #9c36b5;
  background-color: #f8f0fc; */
  color: #d24347;
  background-color: #fbeced;
}

.modal-section-burger {
  color: #d24347;
  background-color: #f6d9da;
}

.modal-section-fingerfood {
  color: #feb451;
  background-color: #fff8ee;
}

.modal-section-salad {
  color: #2b8a3e;
  background-color: #ebfbee;
}

.modal-section-dessert {
  color: #e64980;
  background-color: #fff0f6;
}

.modal-section-drink {
  color: #74ccf4;
  background-color: #e3f5fd;
}

.modal-section {
  padding: 0 0 6.4rem 0;
}

.modal-section:last-child {
  padding: 0;
}

.modal-section-title {
  margin-bottom: 3.2rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.8rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
}

/****************/
/* CONFIGURATOR */
/****************/
.modal-configurator-form {
  padding: 6rem;
}

.modal-configurator-header-input {
  display: none;
}

.modal-configurator-section-item-list {
  border: none;

  display: grid;
}

.modal-configurator-section-item-list.children {
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.modal-configurator-section-item-list input {
  display: none;
}

.modal-configurator-section-item {
  box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;

  display: grid;
}

.modal-configurator-section-item:hover {
  background-color: #f6f6f6;
}

.modal-configurator-section-item.large {
  border-radius: 7px;
  grid-template-columns: 40rem auto;
  gap: 3.2rem;
}

.modal-configurator-section-item.medium {
  border-radius: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 16rem auto;
  gap: 0;
}

.modal-configurator-section-item.small {
  border-radius: 5px;
  grid-template-columns: 12.8rem auto;
  gap: 2.4rem;
}

.modal-configurator-item-textbox-right {
  transition: all 0.3s;
}

.modal-configurator-section-item.selected .modal-configurator-item-textbox-right {
  background-color: #feb451;
}

.modal-configurator-img {
  object-fit: cover;
  display: block;

  /* is bugged */
  transition: filter 0.3s;
}

.modal-configurator-section-item:hover .modal-configurator-img {
  filter: brightness(90%);
}

.modal-configurator-section-item:hover.selected .modal-configurator-item-textbox-right {
  background-color: #e5a249;
}

.modal-configurator-img.large {
  width: 40rem;
  height: 30rem;
}

.modal-configurator-img.medium {
  width: 100%;
  height: 16rem;
}

.modal-configurator-img.small {
  width: 12.8rem;
  height: 8rem;
}

.modal-configurator-item-textbox {
  display: grid;
}

.modal-configurator-item-textbox.large {
  grid-template-columns: auto 8.5rem;
}

.modal-configurator-item-textbox.medium {
  grid-template-columns: auto 6.8rem;
}

.modal-configurator-item-textbox.small {
  grid-template-columns: auto 6.8rem;
}

.modal-configurator-item-textbox-left {
  display: flex;
  flex-direction: column;
}

.modal-configurator-item-textbox-left.large {
  padding: 2.4rem 1.2rem 1.6rem 1.2rem;
  gap: 2.4rem;
}

.modal-configurator-item-textbox-left.medium {
  padding: 1.6rem;
  gap: 1.6rem;
}

.modal-configurator-item-textbox-left.small {
  padding: 1.6rem 0.8rem 1.2rem 0.8rem;
  gap: 1.6rem;
  justify-content: center;
}

.modal-configurator-item-textbox-right {
  justify-self: center;

  display: flex;
  flex-direction: column;
}

.modal-configurator-item-textbox-right.large {
  padding: 2.4rem 1.2rem;
}

.modal-configurator-item-textbox-right.medium {
  padding: 1.6rem 1rem;
}

.modal-configurator-item-textbox-right.small {
  padding: 1.6rem 1rem;
  justify-content: center;
}

.modal-configurator-item-title {
  font-weight: 600;
}

.modal-configurator-item-title.large {
  font-size: 2.4rem;
  line-height: 1.6;
}

.modal-configurator-item-title.medium {
  font-size: 2rem;
  line-height: 1.2;
}

.modal-configurator-item-title.small {
  font-size: 2rem;
  line-height: 1.2;
}

.modal-configurator-item-attributes {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.modal-configurator-item-attribute {
  display: grid;
  gap: 1.2rem;
}

.modal-configurator-item-attribute .icon {
  font-weight: 500;
  color: #feb451;
  justify-self: center;
}

.modal-configurator-item-attribute.large {
  font-size: 2rem;
  line-height: 1.6;

  grid-template-columns: 3.2rem 1fr;
}

.modal-configurator-item-attribute.large .icon {
  font-size: 3.2rem;
}

.modal-configurator-item-attribute.medium {
  font-size: 1.6rem;
  line-height: 1.2;

  grid-template-columns: 2.4rem 1fr;
}

.modal-configurator-item-attribute.medium .icon {
  font-size: 2.4rem;
}

/************/
/* CHECKOUT */
/************/
.modal-checkout-form {
  padding: 6rem;
}

.checkout-address-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.modal-checkout-form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.modal-checkout-form label.mandatory {
  font-weight: 600;
}

.modal-checkout-text-input {
  width: 100%;
  padding: 1.2rem;
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  border: 2px solid #feb451;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.modal-checkout-text-input.invalid {
  border: 2px solid #d24347;
}

.modal-checkout-text-input:focus {
  outline: none !important;
}

.modal-checkout-text-input::placeholder {
  color: #aaa;
}

.modal-checkout-text-input:valid {
  border: 2px solid #feb451;
  background-color: #fff;
}

.modal-checkout-text-input:invalid {
  background-color: #fff5f5;
  color: #501111;
}

.modal-checkout-checkbox-input-group {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.modal-checkout-checkbox-input-group label {
  margin-bottom: 0;
}

.modal-checkout-disclaimer {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.modal-checkout-entries-list {
  list-style: none;
  margin-bottom: 4.8rem;
  font-size: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.modal-checkout-entries-list-item {
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 12rem auto 8rem;
  height: 12rem;
  gap: 2.4rem;
}

.modal-checkout-item-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  display: block;
}

.modal-checkout-item-text {
  margin: 1.2rem 0;
  line-height: 2.4rem;
}

.modal-checkout-item-name {
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.modal-checkout-item-children {
  list-style: none;
}

.modal-checkout-item-child {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  color: #767676;
  line-height: 1.6rem;
}

.modal-checkout-item-price {
  margin: 1.2rem 1.2rem 1.2rem 0;
  line-height: 2.4rem;
  font-weight: 500;
}

.modal-checkout-totals {
  font-size: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.2rem;
}

.modal-checkout-price-text {
  display: grid;
  grid-template-columns: auto 8rem;
  justify-items: end;
  gap: 2.4rem;
}

.modal-checkout-price-text.total {
  margin-top: 1.2rem;
  font-weight: 600;
}

.btn-place-order,
.btn-configure {
  font-size: 2.4rem;
}

/****************/
/* ORDER PLACED */
/****************/
.modal-order-placed-title {
  margin: 2.4rem 0;
  font-size: 4.4rem;
  color: #feb451;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}

.modal-order-placed-description {
  font-size: 2.4rem;
  margin-bottom: 4.8rem;
  line-height: 1.6;
  text-align: center;
}

.modal-order-placed-time {
  color: #d24347;
  font-weight: 600;
}

.modal-order-placed-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-order-placed-picture i {
  font-size: 15rem;
  color: #fecb85;

  background-color: #fff8ee;
  padding: 1.8rem;
  border-radius: 50%;
}

/*****************/
/* MEDIA QUERIES */
/*****************/
/* 1rem = 1em = 16px */

/************************************/
/* BELOW 1920 px (Full HD desktops) */
/************************************/
@media (max-width: 120em) {
  .modal-checkout-entries-list {
    grid-template-columns: 1fr;
  }

  .modal-content {
    min-width: 60vw;
  }
}

/***********************/
/* BELOW 1600 px (HD+) */
/***********************/
@media (max-width: 100em) {
  .checkout-address-grid {
    grid-template-columns: 1fr;
  }

  .modal-configurator-section-item.large {
    grid-template-columns: 30rem auto;
  }

  .modal-configurator-section-item.medium {
    grid-template-columns: 12.8rem auto;
    grid-template-rows: auto;
    gap: 2.4rem;
  }

  .modal-configurator-img.large {
    width: 30rem;
  }

  .modal-configurator-img.medium {
    width: 12.8rem;
    height: 12.8rem;
  }

  .modal-configurator-section-item-list.children {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .modal-configurator-item-textbox.medium {
    grid-template-columns: auto 8.5rem;
  }

  .modal-configurator-item-textbox.small {
    grid-template-columns: auto 8.5rem;
  }

  .modal-configurator-item-textbox-left.medium {
    padding: 1.6rem 0.8rem 1.2rem 0.8rem;
    gap: 2.4rem;
  }

  .modal-configurator-item-textbox-right.medium {
    padding: 1.6rem 1.6rem;
  }

  .modal-configurator-item-textbox-right.small {
    padding: 1.6rem 1.6rem;
  }
}

/************************************/
/* BELOW 1344 px (Smaller desktops) */
/************************************/
@media (max-width: 84em) {
  .modal-content {
    max-width: 90vw;
    min-width: 80vw;
  }

  .checkout-address-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*************************************/
/* BELOW 1200 px (Landscape tablets) */
/*************************************/
@media (max-width: 75em) {
  .modal-content {
    max-width: 90vw;
    min-width: 90vw;
  }

  .close-modal {
    top: 2.4rem;
    right: 2.4rem;
  }
}

/***********************************/
/* BELOW 944 px (Portrait tablets) */
/***********************************/
@media (max-width: 59em) {
  .modal-content {
    max-width: 95vw;
    min-width: 90vw;
    max-height: 95vh;
  }

  .modal-text {
    padding: 4.8rem;
  }

  .modal-configurator-section-item.large {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .modal-configurator-img.large {
    width: 100%;
  }

  .modal-configurator-item-textbox-left.large {
    padding: 2.4rem;
    gap: 2.4rem;
  }
}

/*********************************/
/* BELOW 704px (Smaller tablets) */
/*********************************/
@media (max-width: 44em) {
  .modal-body {
    border-radius: 0;
  }

  .modal-content {
    /* max-width: 100vw; */
    min-width: 100vw;
    /* max-height: 100vh; */
    min-height: 100vh;
  }

  .modal-text {
    padding: 3.2rem;
  }

  .checkout-address-grid {
    grid-template-columns: 1fr;
  }

  .modal-configurator-section-item.medium {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .modal-configurator-img.medium {
    width: 100%;
  }

  .modal-configurator-item-textbox-left.medium {
    padding: 1.6rem;
  }
}

/************************/
/* BELOW 544px (Phones) */
/************************/
@media (max-width: 34em) {
  .modal-section-grid {
    gap: 2.4rem;
  }

  .modal-text {
    padding: 2.4rem;
  }

  .modal-configurator-form {
    padding: 6rem 2.4rem;
  }

  .modal-checkout-form {
    padding: 6rem 2.4rem;
  }

  .modal-configurator-section-item.small {
    grid-template-columns: 8rem auto;
    gap: 1.6rem;
  }

  .modal-configurator-img.small {
    width: 8rem;
    height: 8rem;
  }
}
