.side-panel-body {
  margin: 0.4rem 0.4rem 0 0;
  position: fixed;
  right: 0;
  top: 9.6rem;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);

  border-radius: 5px;
  overflow: hidden;

  transition: all 0.5s 0.2s;
}

.side-panel-content {
  max-width: 25vw;
  min-width: 20vw;
  max-height: calc(95vh - 9.6rem);
  overflow-y: auto;
}

.side-panel-list {
  list-style: none;

  display: flex;
  flex-direction: column;
}

.side-panel-list-item {
  font-size: 2rem;
  transition: all 0.3s;

  display: grid;
  grid-template-columns: 1fr 4.8rem;
}

.side-panel-list-item.small {
  height: 6rem;
}

.side-panel-list-item.normal {
  height: 10rem;
}

.side-panel-list-item:nth-child(odd) {
  background-color: #f6f6f6;
}

.side-panel-list-item-content {
  display: flex;
  align-items: center;
}

.side-panel-list-item-nav-link:hover,
.side-panel-list-item-nav-link:active {
  cursor: pointer;
  background-color: #e8e8e8;
}

.side-panel-list-item-content picture {
  align-self: flex-start;
  height: 6rem;
}

.side-panel-list-item.large .side-panel-list-item-content picture {
  height: 10rem;
}

.side-panel-item-img {
  width: 7rem;
  height: 6rem;
  object-fit: cover;
}

.side-panel-list-item.large .side-panel-list-item-content .side-panel-item-img {
  width: 12rem;
  height: 10rem;
}

.side-panel-item-textbox {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.side-panel-item-textbox-entry {
  padding: 0 1.2rem;
  line-height: 2.4rem;
}

.side-panel-list .btn {
  border-radius: 0;
  padding: 0;
}

.btn-panel-remove {
  font-size: 2.4rem;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-panel-remove:hover,
.btn-panel-remove:active {
  background-color: #e5a249;
}

.side-panel-textbox {
  padding: 3.2rem 2.4rem 2.4rem 2.4rem;
  font-size: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.2rem;
}

.side-panel-price-text {
  display: grid;
  grid-template-columns: auto 8rem;
  justify-items: end;
  gap: 2.4rem;
}

.side-panel-price-text.total {
  margin-top: 1.2rem;
  font-weight: 600;
}

.side-panel-disclaimer {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.side-panel-actions {
  padding: 2.4rem;

  display: flex;
  justify-content: center;
}

/*****************/
/* MEDIA QUERIES */
/*****************/
/* 1rem = 1em = 16px */

/************************************/
/* BELOW 1920 px (Full HD desktops) */
/************************************/
@media (max-width: 120em) {
}

/***********************/
/* BELOW 1600 px (HD+) */
/***********************/
@media (max-width: 100em) {
  .side-panel-content {
    max-width: 35vw;
    min-width: 30vw;
  }
}

/************************************/
/* BELOW 1344 px (Smaller desktops) */
/************************************/
@media (max-width: 84em) {
}

/*************************************/
/* BELOW 1200 px (Landscape tablets) */
/*************************************/
@media (max-width: 75em) {
  .side-panel-content {
    max-width: 45vw;
    min-width: 40vw;
  }
}

/***********************************/
/* BELOW 944 px (Portrait tablets) */
/***********************************/
@media (max-width: 59em) {
  .side-panel-body {
    margin: 0;
    border-radius: 0;
    background-color: #fff;
  }

  .side-panel-content {
    max-width: 100vw;
    min-width: 100vw;
    min-height: calc(100vh - 9.6rem);
    max-height: calc(100vh - 9.6rem);
  }

  .side-panel-list-item {
    grid-template-columns: 1fr 6rem;
  }
}

/*********************************/
/* BELOW 704px (Smaller tablets) */
/*********************************/
@media (max-width: 44em) {
}

/************************/
/* BELOW 544px (Phones) */
/************************/
@media (max-width: 34em) {
}
